- @posts.each do |post|
  = link_to (image_tag post.image.url), post
  %h2= link_to post.title, post
  %p= post.comments.count
  Comments 
  %p= post.get_likes.count 
  Likes 
  %br 
  
= link_to "Add an Inspiration", new_post_path