!!!
%html 
%head 
  %title Brindille
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  %link{:rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
  %link{:rel => "stylesheet", :href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
  = csrf_meta_tags
  %link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Fruktur|Pacifico"}
%body 
  %header 
    .wrapper.clearfix 
      #logo= link_to "Brindille", root_path 
      %nav 
        - if user_signed_in?
          = link_to current_user.name, edit_user_registration_path 
          = link_to 'Sign out', destroy_user_session_path, :method => :delete 
          = link_to "Add New Inspiration", new_post_path, class: "button"
        - else 
          = link_to "Sign In", new_user_session_path 
          = link_to "Sign Up", new_user_registration_path 
  %p.notice= notice 
  %p.alert= alert 
  
  .wrapper 
    = yield 

  %footer.footer 
    .container 
      %ul.social-icon.animate.pull-right
        %li
          %a{href: 'https://www.facebook.com/', title: 'facebook', target: '_blank'}
            %i.fa.fa-facebook
        %li
          %a{href: '#', title: 'twitter', target: '_blank'}
            %i.fa.fa-twitter
        %li
          %a{href: '#', title: 'google plus', target: '_blank'}
            %i.fa.fa-google-plus




